*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;

}

.container .box{
    position: relative;
    width: 250px;
    height: 300px;
    background: #4a4a4a ;
    border-radius: 20px ;
    overflow: hidden;
}
.container .box::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-70%,-70%);
    width: 0;
    height: 0;
    background: var(--clr);
    border-radius: 50%;
    transition: 1s,top 0s ,left 0s;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
}
.container .box:hover:before{
    width: 400px;
    height: 400px;
}